<!-- Generated template for the ListComponent component -->
    <h3 class = "user-list--title">Lista Usuarios API</h3>
    <ion-list>
      <ion-item *ngFor="let user of usersFiltered">
        <ion-avatar item-start>
          <img [src]="user.picture.medium">
        </ion-avatar>
        <h2>{{ user.name.first | uppercase }}</h2>
        <p>{{ user.email }}</p>
        <button type = "submit" (tap)="deleteUser(user)" style="background:#B22D10; color:white; border-radius:5px;">Eliminar</button>
        <button type = "submit" (tap)="modalDetails(user)" style="background:#0C94D8; color:white; border-radius:5px;">Ver Detalles</button>
      </ion-item>
    </ion-list>

  